@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #010101 url("/dot-pattern.png") repeat;
}
/* hero */
.text-gradient {
  background: linear-gradient(to right, #ffa34d, #ff9a5a, #ff5252, #ff4b81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* problem */
.heading-gradient {
  background: linear-gradient(to right, #4307c5, #ff738d, #ffa049);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* roadmap */
.blur-background-orange {
  align-items: flex-start;

  border-radius: 20px;
  border: 3px solid var(--stroke, rgba(255, 255, 255, 0.04));
  background: linear-gradient(
    158deg,
    #ffa336 -33.83%,
    #7d5d45 16.02%,
    #4c3e3a 39.31%,
    #353535 84.19%
  );
  backdrop-filter: blur(12px);
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
}

.blur-background-white {
  border-radius: 20px;
  border: 3px solid var(--stroke, rgba(255, 255, 255, 0.04));
  background: linear-gradient(
    158deg,
    rgba(53, 53, 53, 0.39) -33.83%,
    #353535 84.19%
  );
  backdrop-filter: blur(12px);
  /* display: flex; */
  /* width: 100%; */
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 24px 24px 50px; */
}
